.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f2f2f2;
}

form {
width: 10%;
display: absolute;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 10px;
padding: 20px;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

label {
margin-bottom: 5px;
}
#password {
    width: 92%;
}
#email {
    width: 92%;
}
input {
padding: 10px;
margin-bottom: 10px;
width: 100%;
border-radius: 5px;
border: none;
box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

button {
padding: 10px;
width: 100%;
border-radius: 5px;
border: none;
background-color: #4CAF50;
color: white;
font-size: 18px;
cursor: pointer;
box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
background-color: #3e8e41;
}

.redirect-btn {
position: absolute;
top: 5%;
left:44.7%;
width:10%;
background-color: #4CAF50; /* Green background color */
border: none; /* Remove button border */
color: white; /* Text color */
padding: 12px 2px; /* Padding for button text */
text-align: center; /* Center button text */
text-decoration: none; /* Remove underline on button */
display: inline-block; /* Display as inline block element */
font-size: 16px; /* Font size for button text */
margin: 4px 2px; /* Add margin to button */
cursor: pointer; /* Change cursor on hover */
border-radius: 8px; /* Add rounded corners to button */
margin-left: 6px;
}
#empty {
  position:flex;
  margin: 3%;
}
#empty2 {
  position:flex;
  margin: 4%;
}
.redirect-btn2 {
  position: flex;
  top: 10%;
  left:44.7%;
  width:10%;
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove button border */
  color: white; /* Text color */
  padding: 12px 2px; /* Padding for button text */
  text-align: center; /* Center button text */
  text-decoration: none; /* Remove underline on button */
  display: inline-block; /* Display as inline block element */
  font-size: 16px; /* Font size for button text */
  margin: 4px 2px; /* Add margin to button */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 8px; /* Add rounded corners to button */
  }